<h1>TEST SIGN IN SIGN UP</h1>

<div id="testvue">
  <progressbartest></progressbartest>
</div>

<div id="example">
  <my-component></my-component>
</div>

<template id="progressbartest-template">
  <radial-progress-bar :diameter="200"
                       :completed-steps="completedSteps"
                       :total-steps="totalSteps">
   <p>Total steps: {{ totalSteps }}</p>
   <p>Completed steps: {{ completedSteps }}</p>
  </radial-progress-bar>
</template>



<% content_for(:js) do %>

<script>
  // import Vue from 'vue';
  // import App from './app.vue';
  import RadialProgressBar from 'vue-radial-progress'

  export default {
    data () {
      return {
        completedSteps: 0,
        totalSteps: 10
      }
    },

    components: {
      RadialProgressBar
    }
  }

  Vue.component('progressbartest', {
    template: '#progressbartest-template'
  });



  var app = new Vue({
    el: '#testvue',
    data: {
    }
  })

  // register
  Vue.component('my-component', {
    template: '<div>A custom component!</div>'
  })
  // create a root instance
  new Vue({
    el: '#example'
  })



</script>

<% end %>
