<div class="applications">
	<div class="row">
		<div class="col-xs-12">
			<div class= dashboard-title>
				<h2>  <i class="fa fa-check-circle" aria-hidden="true"></i>  Candidatures acceptées </h2>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-xs-12 col-sm-12">
			<div class="card-status status-accepted text-center">
				<div class="jobs">
					<% @mj_accepted.first(5).each do |mj|%>
					
					<div class="job">
						<div class = "logo"> </div>
						<div class="job-desc"> 
							<p> <strong> <%= link_to mj.job.title, profile_matched_job_path(@profile, mj.id)%> </strong> </p>
							<p><%= mj.job.company.name %></p>
						</div>
						<button type="button" class="btn btn-secondary btn-danger btn-sm"> <%= link_to  "Preparer l'entretien", preparation_matched_job_path(mj.id)%> </button>
					</div>
					<% end %>
				</div>
			</div>
		</div>

</div>