<div class="applications">

	<div class="row">

		<div class="col-xs-4">
			<div class="status status-pending">
				<div class="avatar">
					
				</div>
				<div class="status-name">
					
				</div>
				<div class="jobs">
					
				</div>
			</div>
			<div class="col-xs-4"></div>
	
			<div class="status status-accepted">
				<div class="avatar">
					
				</div>
				<div class="status-name">
					
				</div>
				<div class="jobs">
					
				</div>
			</div>
			<div class="col-xs-4"></div>
	
			<div class="status status-rejected">
				<div class="avatar">
					
				</div>
				<div class="status-name">
					
				</div>
				<div class="jobs">
					
				</div>
			</div>
		</div>
		
		
	</div>
</div>