<h1 class="title-index"><%= @matched_jobs.count %> postes pourraient t'intérresser</h1>

<div class='white-wraper'>

  <div class='flexbox'>
    <div class='flex-item-1'>
      <%= render 'filter' %>
    </div>

    <div class='flex-item-2'>
      <%= render 'card' %>
    </div>

  </div>
</div>

<%= render 'index_modal' %>

