.chat-content, .chat-status-wrapper {
  // background-color: white;
  height: calc(100vh - 10vh - 60px);
  // calcul de la height > full screen - taille des margins du content - navbar
  width: 100%;
}

.chat-content {
  opacity: 1;
}

.chat-end {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  padding: 10%;
  width: 100% !important;
  height: 100% !important;
  h2 {
    font-size: 16px;
  }
}

.chat-status-wrapper {
  display: flex;
  // align-items: center;
  flex-direction: column;
  justify-content: center;
}

.chat-status {
  // opacity: 0.8;
  // max-height: 50vh;
  overflow: hidden;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid;
  h2 {
    font-size: 16px;
  }
  h3, p {
    font-size: 12px;
    color: $gray;
  }
  .current-questions {
    font-size: 12px;
    font-weight: bolder;
    color: white;
  }
}


#chatrestit {
  width: 100% !important;
  height: 100% !important;
  padding: 40px;
}

#progressbar {
  margin-bottom: 5vh;
}

.conversational-form-inner, .conversational-form, .conversational-form:before {
  background: transparent !important;
  opacity: 1 !important;
}

.conversational-form * {
  color: $gray !important;
  font: $body-font !important;
}

cf-radio-button:hover div {
  background: $red !important;
  cf-radio {
    background: $gray !important;
  }
}

*::-webkit-input-placeholder {
    color: $gray !important;
    font-weight: lighter !important;
}

.conversational-form cf-chat-response.user {
  margin-right: 10px;
  text p {
    color: white !important;
    background: $red !important;
  }
}

