
.title-index{
  color: $red;
  margin-bottom: 20px;
}

.white-wraper{
  background-color: white;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 20px;
}

.flexbox{
  // border: solid 1px;
  // border-color: blue;
  display: flex;
  justify-content: space-between;
}

.flex-item-1{
  // border: solid 1px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  flex: 0 0 20%;
  font-size: 15px;
  padding: 20px;
  height: 97vh;
  position: sticky !important;
  top: 0 !important;
  margin-bottom: 20px;
}

.simple-form-field {
  font-size: 12px !important;
  height: 25px;
}

.update-btn {
  font-size: 15px !important;
  height: 35px;
  width: 100%;
  background-color: $red ;
  border-radius: 2px;
  border: solid 0px;
  color: white;
}

.flex-item-2{
  // border: solid 1px;
  flex: 0 0 78%;
  margin-right: 10px;
}

.trait-inf{
  border-bottom: solid 1px;
  margin-bottom: 10px;
}

.filter-box{
  // border: solid 1px;
  // border-color: red;
  margin-bottom: 10px;
  font-size:12px;
  padding: 5px;

}

